@font-face {
  font-family: cursiva;
  src: url(/fuentes/ashtray.otf);
}

nav {
  background-color: #c6b299;
  margin-top: 4%;
  padding: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
  
}



h1 {
  font-family: cursiva;
  font-size: 500%;
  padding-top: 4%;
}

.nav-link, .dropdown-menu {
  color: #be4c54;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration:underline;
  color: #f1debd;
}

h2 {
  font-family:'Courier New', Courier, monospace; 
  color: #785d56;
  font-size: 200%; 
  letter-spacing: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}


.cartWidgetContainer {
  background-color: #f1debd;
  color: #333e50;
  padding: 1%;
  margin-left: 5%;
  border-radius: 10%;
  display: flex;
  align-items: center; 
}

.cartIcon {
  width: 24px; 
  height: 24px; 
  margin-right: 5px; 
}

.cartCount {
  font-size: 16px; 
}


.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
  padding: 10px; 
}

.controles {
  display: flex;
  align-items: center;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #dddddd; 
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.number {
  margin: 0 10px;
}

