.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6d5c1; 
    padding: 1%; 
}

.controles {
    display: flex;
    align-items: center;
}

.button {
    padding: 5px 10px;
    font-size: 2px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff; 
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.number {
    margin: 0 10px;
}
